
.body{
    margin: 0;
    background: black;

}

.header{
    height: auto;
    overflow: hidden;
}

#fundo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: cover;
}
    

#content{
    position: absolute;
    top: 20px;
}

.indice{
    font-family: Garamond;
    font-size: 50px;
    position: absolute;
    left: -21px;
    

}

.butao{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:80px;
    left: -3px;
    background-color: rgb(130, 236, 130);
    border-color: rgb(0, 0, 0);
    width:180px;
    height: 50px;
}

.butao2{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:150px;
    left: -3px;
    background-color: rgb(130, 236, 130);
    border-color: rgb(0, 0, 0);
    width: 85px;
    height: 50px;

    
}

.butao3{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:220px;
    left: -3px;
    background-color: rgb(130, 236, 130);
    border-color: rgb(0, 0, 0);
    width: 200px;
    height: 100px;

    
}


.butao4{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:340px;
    left: -3px;
    background-color: rgb(130, 236, 130);
    border-color: rgb(0, 0, 0);
    width: 160px;
    height: 50px;

    
}

.butao5{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:410px;
    left: -3px;
    background-color: rgb(130, 236, 130);
    border-color: rgb(0, 0, 0);
    width: 255px;
    height: 80px;

    
}

.butao6{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:510px;
    left: -3px;
    background-color: rgb(130, 236, 130);
    border-color: rgb(0, 0, 0);
    width: 210px;
    height: 50px;

    
}


.butao7{
    font-family: monospace;
    border-radius: 10px;
    border-style: dashed;
    text-align: justify;
    position: absolute;
    font-size: 20px;
    top:80px;
    left: -3px;
    background-color: rgb(100, 187, 100);
    border-color: rgb(0, 0, 0);
    width:180px;
    height: 50px;
}

.butao8{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style: dotted;
    position: absolute;
    font-size: 20px;
    top:150px;
    left: -3px;
    background-color: rgb(100, 187, 100);
    border-color: rgb(0, 0, 0);
    width: 85px;
    height: 50px;

}


.butao9{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style:  dashed;
    position: absolute;
    font-size: 20px;
    top:220px;
    left: -3px;
    background-color:rgb(100, 187, 100);;
    border-color: rgb(0, 0, 0);
    width: 200px;
    height: 100px;

}

.butao10{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style:  dashed;
    position: absolute;
    font-size: 20px;
    top:340px;
    left: -3px;
    background-color: rgb(100, 187, 100);
    border-color: rgb(0, 0, 0);
    width: 160px;
    height: 50px;

    
}


.butao11{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style:  dashed;
    position: absolute;
    font-size: 20px;
    top:410px;
    left: -3px;
    background-color: rgb(100, 187, 100);
    border-color: rgb(0, 0, 0);
    width: 255px;
    height: 80px;

    
}


.butao12{
    font-family: monospace;
    border-radius: 10px;
    text-align: justify;
    border-style:  dashed;
    position: absolute;
    font-size: 20px;
    top:510px;
    left: -3px;
    background-color: rgb(100, 187, 100);
    border-color: rgb(0, 0, 0);
    width: 210px;
    height: 50px;

    
}

.inicio{
        font-family: monospace;
        border-radius: 10px;
        text-align: justify;
        border-style: dotted;
        position: absolute;
        font-size: 20px;
        top: 580px;
        left: -3px;
        background-color: rgb(130, 236, 130);
        border-color: rgb(0, 0, 0);
        width: 210px;
        height: 50px;

}

.realizado{
        font-family: monospace;
        position: absolute;
        top:700px;
        left: 4px;
        text-align: justify;



}

.dmaria{
    width: 100px;
    height:50px;
    position: absolute;
    top:800px;
    left: -3px;

}
